@model OptiDemoCms.Models.HobbiesPage
@{
    Layout = "~/Views/Shared/_PersonalLayout.cshtml";
    ViewData["Title"] = Model.Heading ?? "My Hobbies";
}

<div class="personal-page hobbies-page" data-testid="hobbies-page">
    <div class="personal-banner">My Hobbies</div>

    <div class="personal-card">
        @if (Model.MainBody != null && !Model.MainBody.IsEmpty)
        {
            @Html.PropertyFor(x => x.MainBody)
        }
        else
        {
            <h2>Things I Enjoy Doing</h2>
            <ol class="personal-list hobbies-list">
                <li class="hobby-item">
                    <img src="@Url.Content("~/images/hobbies/Asiatics film.jpeg")" alt="Asian films" class="hobby-icon" />
                    <a href="https://www.iq.com/index" target="_blank" rel="noopener">Asiatics film</a>
                </li>
                <li class="hobby-item">
                    <img src="@Url.Content("~/images/hobbies/book-icon.png")" alt="Reading" class="hobby-icon" />
                    <a href="https://www.ellibrototal.com/ltotal/" target="_blank" rel="noopener">Reading Books and comics</a>
                </li>
                <li class="hobby-item">
                    <img src="@Url.Content("~/images/hobbies/tennis-icon.png")" alt="Tennis and Padel" class="hobby-icon" />
                    <a href="https://www.atptour.com/es?utm_source=chatgpt.com/" target="_blank" rel="noopener">Tennis and Padel</a>
                </li>
                <li class="hobby-item">
                    <img src="@Url.Content("~/images/hobbies/bike-icon.png")" alt="Mountain Biking" class="hobby-icon" />
                    <a href="https://mountainbiker.es/?utm_source=chatgpt.com/" target="_blank" rel="noopener">Mountain Biking</a>
                </li>
                <li class="hobby-item">
                    <img src="@Url.Content("~/images/hobbies/golf-icon.png")" alt="Golf" class="hobby-icon" />
                    <a href="https://opengolf.es/?utm_source=chatgpt.com/" target="_blank" rel="noopener">Golf</a>
                </li>
                <li class="hobby-item">
                    <img src="@Url.Content("~/images/hobbies/golf-icon.png")" alt="Golf Lommedalen" class="hobby-icon" />
                    <a href="https://www.lommedalengk.no/" target="_blank" rel="noopener">Golf Lommedalen</a>
                </li>
            </ol>
        }
    </div>
</div>
