@model OptiDemoCms.Models.HobbiesPage
@{
    Layout = "~/Views/Shared/_PersonalLayout.cshtml";
    ViewData["Title"] = Model.Heading ?? "My Hobbies";
}

<div class="personal-page hobbies-page" data-testid="hobbies-page">
    <div class="personal-banner">My Hobbies</div>

    <div class="personal-card">
        @if (Model.MainBody != null && !Model.MainBody.IsEmpty)
        {
            @Html.PropertyFor(x => x.MainBody)
        }
        else
        {
            <h2>Things I Enjoy Doing</h2>
            <ol class="personal-list hobbies-list">
                <li class="hobby-item">
                    <img src="@Url.Content("~/images/hobbies/Asiatics film.jpeg")" alt="Asian films" class="hobby-icon" />
                    <span>Asian films</span>
                </li>
                <li class="hobby-item">
                    <img src="@Url.Content("~/images/hobbies/book-icon.png")" alt="Reading" class="hobby-icon" />
                    <span>Reading Books and comics</span>
                </li>
                <li class="hobby-item">
                    <img src="@Url.Content("~/images/hobbies/tennis-icon.png")" alt="Tennis and Padel" class="hobby-icon" />
                    <span>Tennis and Padel</span>
                </li>
                <li class="hobby-item">
                    <img src="@Url.Content("~/images/hobbies/bike-icon.png")" alt="Mountain Biking" class="hobby-icon" />
                    <span>Mountain Biking</span>
                </li>
                <li class="hobby-item">
                    <img src="@Url.Content("~/images/hobbies/golf-icon.png")" alt="Golf" class="hobby-icon" />
                    <span>Golf</span>
                </li>
                <li class="hobby-item">
                    <img src="@Url.Content("~/images/hobbies/golf-icon.png")" alt="Golf Lommedalen" class="hobby-icon" />
                    <span>Golf Lommedalen</span>
                </li>
            </ol>
        }
    </div>
</div>
